<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Employee Birthday Gift Voting System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmployeeBirthdayGiftVotingSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="bg-primary text-white d-flex justify-content-between align-items-center p-4">
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <div class="d-flex align-items-center gap-4">
                <a class="text-white" asp-controller="Vote" asp-action="Index">List of votes</a>
                <a class="text-white" asp-controller="Vote" asp-action="Create">New vote</a>
                <a class="text-white" asp-controller="Gift" asp-action="All">List of gifts</a>
            </div>
            <div class="d-flex align-items-center gap-4">
                <div>Hello, @(User.Identity.Name)!</div>
                <form asp-controller="Authentication" asp-action="Logout">
                    <button class="btn btn-dark" type="submit">Logout</button>
                </form>
            </div>
        }
    </nav>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
