@model IEnumerable<EmployeeBirthdayGiftVotingSystem.Models.Gift.AllGiftsViewModel>;

@{
    ViewData["Title"] = "List of all gifts";
}

<h1 class="text-center mb-4">List of all gifts</h1>

@foreach (var gift in Model)
{
    <article class="gift">
        <h2 class="text-center">@gift.Name</h2>
        <img class="d-block mx-auto" src="~/gift-images/@gift.ImageFileName" />
        <p><strong>Description:</strong> @gift.Description</p>
    </article>
}