nav {
    height: 50px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login div, .login label {
    width: 500px;
}

.login label {
    text-align: left;
}

.vote-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.vote-index {
    width: 400px;
    text-align: center;
}

.vote-index .actions {
    gap: 16px;
    justify-content: center;
}